@import 'constants';

// Controls border colors.

@if $COLOR_THEME == 'default' {

  $ctrl-default-border-color:  rgba( 194, 194, 194, 1.0 );
  $ctrl-disabled-border-color: rgba( 167, 167, 167, 1.0 );
  $ctrl-hover-border-color:    rgba( 150, 150, 150, 1.0 );
  $ctrl-focused-border-color:  rgba( 77, 144, 254, 1.0 );
  $ctrl-error-border-color:    rgba( 220, 20, 20, 1.0 );

  //$ctrl-active-border-color:   rgba( 77, 144, 254, 1.0 );
  //$ctrl-selected-border-color: rgba( 77, 144, 254, 1.0 );
  //$ctrl-opened-border-color:   rgba( 77, 144, 254, 1.0 );
  //$ctrl-checked-border-color:  rgba( 77, 144, 254, 1.0 );
}