{namespace videtype._template.ui.input}

/**
 * Simple input template
 * @param icon
 */
{template .default}
    <label class="{css input}">
        <div class="{css icon-wrapper}">
            <i class="{css icon} {$icon}"></i>
        </div>
        <div class="{css controll-wrapper}"></div>
        <div class="{css close-wrapper}">
            <i class="{css icon} {css close}"></i>
        </div>
    </label>
{/template}