{namespace zz.template.ui.checkbox}

/**
 * Default checkboxes.
 */
{template .default}
    <label id="1" class="{css mdl-checkbox} {css mdl-js-checkbox} {css mdl-js-ripple-effect}" for="checkbox-1">
      
    </label>
{/template}