{namespace zz.template.ui.progress}

/**
 * Default progress bars.
 */
{template .default}

    <div id="1" class="{css mdl-progress} {css mdl-js-progress}"></div>
    
    <div id="2" class="{css mdl-progress} {css mdl-js-progress} {css mdl-progress__indeterminate}"></div>

    <div id="3" class="{css mdl-progress} {css mdl-js-progress}"></div>

{/template}