{namespace zz.template.ui.slider}

/**
 * Default sliders.
 */
{template .default}
    <input class="{css mdl-slider} {css mdl-js-slider}" type="range"
      min="0" max="100" value="0" tabindex="0">
      <br>
    <input class="{css mdl-slider} {css mdl-js-slider}" type="range"
      min="0" max="100" value="25" tabindex="0">
{/template}