{namespace zz.template.ui.slider}

/**
 * Default sliders.
 */
{template .default}
    <input id="1" class="{css mdl-slider} {css mdl-js-slider}" type="range"
      min="0" max="100" value="0" tabindex="0">
{/template}