{namespace zz.template.ui.spinner}

/**
 * Default buttons.
 */
{template .default}
   <div id="1" class="{css mdl-spinner} {css mdl-js-spinner} {css is-active}"></div>

   <div id="2" class="{css mdl-spinner} {css mdl-spinner--single-color} {css mdl-js-spinner} {css is-active}"></div>
{/template}