{namespace zz.template.ui.switch}

/**
 * Default switches.
 */
{template .default}
    <label class="{css mdl-switch} {css mdl-js-switch} {css mdl-js-ripple-effect}" for="switch-1">
        <input type="checkbox" id="switch-1" class="{css mdl-switch__input}" checked>
        <span class="{css mdl-switch__label}"></span>
    </label>
{/template}