@import '../common/const';
@import '../common/colors';
@import '../common/shadows';
i {

  &.zz-checkbox-undetermined,
  &.zz-checkbox-checked,
  &.zz-checkbox-unchecked {

    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid;
    border-radius: $CONTROL_BORDER_RADIUS;
    transition: border-color, box-shadow 100ms, 100ms ease, ease 0ms, 0ms;
    text-align: center;
    cursor: default;
    box-shadow: $control-default-border-shadow;
    text-shadow: $control-default-icons-shadow;
    &.zz-checkbox-hover,
    &.zz-checkbox-active,
    &.zz-checkbox-focused {

      cursor: pointer;
    }
  }
  &.zz-checkbox-checked {

    color: $control-focused-border-color;
    border-color: $control-focused-border-color;
    box-shadow: $control-hover-border-shadow;
    text-shadow: $control-hover-icons-shadow;
  }
  &.zz-checkbox-unchecked,
  &.zz-checkbox-undetermined {

    color: $control-default-border-color;
    border-color: $control-default-border-color;
    &.zz-checkbox-hover {

      color: $control-hover-border-color;
      border-color: $control-hover-border-color;
      box-shadow: $control-hover-border-shadow;
      text-shadow: $control-hover-icons-shadow;
    }
    &.zz-checkbox-active {

      color: $control-hover-border-color;
      border-color: $control-hover-border-color;
      box-shadow: $control-focused-border-shadow;
      text-shadow: $control-focused-icons-shadow;
    }
    &.zz-checkbox-focused {

      color: $control-hover-border-color;
      border-color: $control-hover-border-color;
      box-shadow: $control-focused-border-shadow;
      text-shadow: $control-focused-icons-shadow;
    }
  }
}
